      <h1 class="title has-text-success">Our Stock Market App</h1>
      <h3>{{tagline}}</h3>
      <p class="subtitle">
        Welcome friends. This is our basic stock market <strong>data</strong>.
      </p>